<p>Hi, <%= @user.name %></p>

<p>Your password has been reset and your new password will expire after 90 days. If you did not make this change, please contact ChronStack Technical Support at technicalsupport@resourcestack.com</p><br>
<p>Thank you for using ChronStack!</p><br>
<p>ChronStack Technical Support</p>
<p>technicalsupport@resourcestack.com</p>
