// Place all the styles related to the EmploymentTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_employment_type{
	width: 70%;
    text-align: center;
    margin-left: 15%;
}
