// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  display: none;
  font-color: black;
}

.reject_class {
  display: none;
}

.button {
  padding: 0;
  margin-top: 15px;
  border-radius: 2px;
}

#tasklist{
  width: 100%;
  margin-top: 0px;
}

.left-row {
	float: left;
	margin: 30px !important;
	width: 40%;
}

.left_row, h1 {
  margin-left: 10px;
  max-width: 35%;
}

.left-row h1 {
	max-width: 77%;
	margin-left: 45px;
	width:67%;
}

.right-row {
	float: right;
	margin: 30px 0px 30px 0px !important;
	width: 50%;
	margin-left:20%;
}

.right-row, h1 {

}
.right-row h1 {
	width: 100%;
	margin-top: 0px;
	float: right;
	max-width: 100%;
}

.right-row table {
	width: 100%;
}

.users-left-row {
  margin-top: 23px;
  text-align: center;
  max-width: 42%;
  margin-left: 5px;
}

.users-left-row table {
	width: 52% !important;
}

.vacation-left-row {
	margin: 30px !important;
	
}

.vacation-left-row table {
	margin-left: auto;
}

.vacation-left-row h1 {
	max-width: 100%;
}

.vacation-left-row {
	table{
    th {
  		width:20%;
		}
	}
}

.left-row-adhoc {
	float: left;
	width: 35%;
}

.left-row-adhoc {
	table{
    th {
  		width:14%;
		}
	}
}

.left-row-adhoc h1 {
	max-width: 100%;
	margin-left: 35px;
	width:90%;
	
}

.communication_email{
	width: 80%;
    margin: 50px;
}

.add_remove_left_row{
    float: left;
	width: 35%;
}

.selected_users_list{
    float: right;
	width: 50%;
}

.selected_users_list table{
	float: left;
	width: 100%;
	min-height: 294px;
	tbody{
	display:block;
	height: 291px;      
	overflow-y: auto;
    overflow-x: hidden;
    }
}

.add_remove_left_row table{
	float: left;
	border: 2px solid black !important;
	width: 100%;
	min-height: 294px;
	tbody{
	display:block;
	height: 291px;      
	overflow-y: auto;
    overflow-x: hidden;
    }
}

.selected_users_list h1{
	max-width: 100%;
	margin-left: 42px;
	width:77%;
}

.add_remove_left_row h1{
	max-width: 100%;
	margin-left: 42px;
	width:77%;
}


.right-row-adhoc {
	float: right;
	margin: 30px !important;
	width: 43%;
	margin-top: 20px;
}

.right-row-adhoc h1 {
	margin-left: 25px;
	max-width: 70%;
	margin-top: 0px;
	width:90%;
}

.right-row-adhoc table {
	width: 80%;
	margin-left: 0px;
}

.pending-right-row{
  margin-top: -63px;
  margin-left: 60%;
  max-width: 38%;
}

.task-right-row{
  margin-top: -63px;
  margin-left: 70%;
  margin-right: 20%;
  max-width: 38%;
}

.vacation-right-row {
	margin: 30px !important;
	
}

.vacation-right-row, h1 {
	margin-top: 20px;
}
.vacation-right-row h1 {
	margin-left: 80px;
	max-width: 100%;
	margin-top: 10px;
}

.vacation-right-row table {
	margin-left: auto;
}

.add_remove_right_row {
	float: right;
	width: 35%;
}

.add_inventory_right_row {
	float: right;
	width: 65%;
	.oragne-button{
		background-color: #ffd079 !important;
    	border-radius: 10px;
	}
}


.add_remove_right_row table{
	float: right;
	border: 2px solid black !important;
	min-height: 294px;
	width: 100%;
	align: center;
	tbody {
		display:block;
		height: 291px;      
		overflow-y: auto;
	    overflow-x: hidden;
	}
}

.add_inventory_left_row{
    float: left;
	width: 35%;
}

.add_inventory_left_row table{
		float: left;
		border: 2px solid black !important;
		width: 100%;
		min-height: 294px;
		tbody{
			display:block;
			height: 291px;      
			overflow-y: auto;
    		overflow-x: hidden;
		}

}


.add_remove_right_row h1 {
	max-width: 100%;
	width:90%;
}

.add_user_center {
	float: left;
	margin-top: 140px;
	width: 7%;
	margin-left:97px;
}

.send_email_center{
	float: left;
	margin-top: 79px;
	width: 7%;
	margin-left:97px;
}
.remove_user_center{
	margin-left: -94px;
	float:left;
	margin-top:192px;
	position:absolute;
}


.right-arrow {
	display: inline-block;
	position: relative;
	padding: 6px;
}

.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffd079 !important;
}

.left-arrow {
	display: inline-block;
	position: relative;
	padding: 0px;
}

.left-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: -20%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ffd079 !important;
}

.edit_customer .grid-x{
	margin-left:15%
}


@media only screen and (max-width:1200px){
  .left-row {
	float: left;
    width: 80%;
    text-align: center;
	}
   .left-row table {
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
   }
    .left-row h1 {
	max-width: 100%;
   }
   .project_table{
   margin-left: 5px !important;
   }
	.right-row {
	float: left;
	width: 80%;
	text-align: center;
	}
	.right-row h1 {
	margin-left: 80px;
	float: left;
	max-width: 100%;
	margin-top: 0px;
	margin-left: 0%;
    }

   .right-row table {
	width: 100%;
	margin-left: -3px;
   }

}  

@media only screen and (max-width:1200px){
	.vacation-left-row {
	float: left;
	width: 100%;
	text-align: center;
    }

   .vacation-left-row table {
	width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    }

   .vacation-right-row {
	float: left;
    width: 100%;
    }   

    .vacation-right-row h1 {
	margin-left: 80px;
	max-width: 60%;
	margin-top: 10px;
	} 
}

@media only screen and (max-width:1200px){
   .left_row, h1 {
   margin-left: 20px;
   max-width: 80%;
   }
   .pending-right-row{
   float: left;
   margin-top: 10px;
   margin-left:10%;
   width: 80%;
   }
} 

@media only screen and (max-width:1200px){
	.left-row-adhoc {
	float: left;
	width: 80%;
	text-align: centre;
    }

	.left-row-adhoc {
		table{
	    th {
	  		width:14%;
			}
		}
	 }

	.right-row-adhoc {
	float: left;
	width: 80%;
	text-align: centre;
    }

    
}

@media only screen and (max-width:1200px){
 .users-left-row {
  float: left;
  width: 80%;
  }

 .task-right-row{
   margin-top: 10px;
   float: left;
   margin-left: 5%;
   width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
   table{
   overflow-x: auto;
   display: block;
   }
}

.new_project_page{
	text-align: center;
}

.user-profile-image img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-container{
	position: relative;
  	text-align: center;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#show_vacation_summary_wrapper{
	padding-left:160px;
}










